* {
  background-color: rgb(233, 128, 0);
}

@-webkit-keyframes pizzaAnimation {
  0% {
    width: 100px;
  }
  50% {
    width: 200px;
  }
  75% {
    width: 300px;
  }
  100% {
    width: 400px;
  }
}

@keyframes pizzaAnimation {
  0% {
    width: 100px;
  }
  50% {
    width: 200px;
  }
  75% {
    width: 300px;
  }
  100% {
    width: 400px;
  }
}
#Toplogo {
  height: 20vh;
  width: 100%;
  align-items: left;
  justify-items: left;
  justify-content: left;
  text-align: center;
  background-image: url(/Media/FINITIOBKGROUND.png);
}

#pizzaHeader {
  display: grid;
  grid-template-columns: 40vw 1fr;
  background-image: url(/Media/FINITIOBKGROUND.png);
  align-items: center;
  font-size: 14px;
  font-family: monospace;
  height: 20vh;
}
#pizzaHeader #navSettings {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 15vh 1fr 1fr;
  grid-template-columns: 15vw 1fr 1fr;
  border-radius: 10%;
  text-decoration: none;
  background-image: url(/Media/FINITIOBKGROUND.png);
}
#pizzaHeader #navSettings .button {
  background-color: khaki;
  cursor: pointer;
  border-style: solid;
  border-color: black;
}

#pizzaCarousel {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 10px;
  overflow: hidden;
  height: 100vh;
}
#pizzaCarousel img {
  width: 100%;
  display: block;
}
#pizzaCarousel #subpCar {
  overflow-y: scroll;
  overflow-x: hidden;
}
#pizzaCarousel #pizzaGallery {
  overflow: scroll;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}
#pizzaCarousel #pizzaGallery #gallery_img {
  scroll-snap-align: start;
  margin-bottom: 10px;
}

#pizzaArticle #pizzaAbTitle {
  font-style: monospace;
  font-size: 22px;
  background-color: khaki;
}
#pizzaArticle #pizzaAbout {
  font-family: monospace;
  font-size: 15px;
}

#pizzaVideo {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
#pizzaVideo iframe {
  width: 100%;
  height: 100%;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
}

#pizzaFooter {
  display: grid;
  grid-template-columns: 33vw 1fr 1fr;
  grid-template-rows: 10vh 1fr;
  background-color: rgb(2, 97, 240);
  min-height: 7vh;
  font-size: 12px;
  align-items: center;
  justify-items: center;
  position: relative;
  bottom: 0.1vh;
}
#pizzaFooter img {
  height: 7vh;
  background-color: rgb(2, 97, 240);
}
#pizzaFooter #pizzaAddy {
  font-size: 14px;
  font-family: monospace;
  justify-items: center;
  align-content: center;
  text-align: center;
  background-color: rgb(2, 97, 240);
}
#pizzaFooter #pizzaDigits1 {
  position: relative;
}
#pizzaFooter #pizzaDigits1 .button {
  background-color: khaki;
  font-family: monospace;
  font-size: 14px;
}
#pizzaFooter #pizzaRight {
  font-size: 14px;
  font-family: monospace;
  justify-items: center;
  align-items: center;
  text-align: center;
  background-color: rgb(2, 97, 240);
}

#pizzaCyber {
  position: relative;
}
#pizzaCyber img {
  height: 40vh;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.pizzaH2 {
  font-family: monospace;
  font-size: 22px;
  background-color: khaki;
}

.pizzaMenu {
  display: grid;
  /*grid-template-columns: 25vw 1fr 1fr 1fr;*/
  grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
}
.pizzaMenu .pizzaInception {
  display: grid;
  justify-items: center;
  text-align: center; /*This is to get those p elements centered*/
  align-items: center;
  border: solid rgb(233, 128, 0) 1px;
  font-family: monospace;
}
.pizzaMenu img {
  height: 15vh;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

section h1 {
  font-family: monospace;
  text-align: center;
}
section h1 img {
  height: 35vh;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

#pizzaAnimate {
  justify-items: center;
  align-items: center;
  text-align: center;
  height: 50vh;
}
#pizzaAnimate > img {
  height: 40vh;
}
#pizzaAnimate > img:hover {
  -webkit-animation: pizzaAnimation 2s ease-in-out 7;
          animation: pizzaAnimation 2s ease-in-out 7;
}

#pizzaHOA {
  position: relative;
  text-align: center;
  height: 40vh;
}
#pizzaHOA > img {
  height: 35vh;
}

#pizzaForm {
  font-family: monospace;
  font-size: 23px;
  background-color: rgb(2, 97, 240);
}

#pizzaLabel {
  display: grid;
  height: 40vh;
  justify-content: center;
  text-align: center;
  justify-items: center;
  font-family: monospace;
  font-size: 20px;
}
#pizzaLabel #pizzaReserve {
  font-family: monospace;
  font-size: 20px;
}
#pizzaLabel #pizzaSubmit {
  background-color: green;
  font-family: monospace;
  font-size: 20px;
}

#pizzaContact {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50vw, 1fr));
  text-align: center;
  font-family: monospace;
}
#pizzaContact #pizzaDigits2 {
  position: relative;
}
#pizzaContact #pizzaDigits2 .button {
  background-color: rgb(114, 218, 250);
  font-family: monospace;
  font-size: 20px;
}

#pizzaMaps {
  position: relative;
}
#pizzaMaps iframe {
  width: 100%;
  height: 50vh;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  #Toplogo {
    width: 100%;
    align-items: center;
    text-align: center;
    background-image: url(/Media/FINITIOBKGROUND.png);
    height: 25vh;
  }
  #pizzaHeader {
    display: grid;
    grid-template-columns: 25vw 1fr;
    background-image: url(/Media/FINITIOBKGROUND.png);
    align-items: center;
    justify-items: center;
    font-size: 14px;
    font-family: monospace;
    height: 25vh;
    overflow: hidden;
  }
  #pizzaHeader #navSettings {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 25vw 25vw 25vw;
    border-radius: 10%;
    text-decoration: none;
    background-image: url(/Media/FINITIOBKGROUND.png);
  }
  #pizzaHeader #navSettings .button {
    background-color: khaki;
    cursor: pointer;
    height: 10vh;
    font-size: 3vh;
    border: solid;
    font-family: monospace;
  }
  #pizzaArticle #pizzaAbTitle {
    font-style: monospace;
    font-size: 28px;
  }
  #pizzaArticle #pizzaAbout {
    font-family: monospace;
    font-size: 18px;
  }
  #pizzaCyber {
    position: relative;
    text-align: center;
  }
  #pizzaCyber img {
    height: 45vh;
    width: 100%;
  }
  .pizzaH2 {
    font-family: monospace;
    font-size: 24px;
  }
  .pizzaMenu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
    grid-auto-rows: -webkit-min-content;
    grid-auto-rows: min-content;
  }
  .pizzaMenu .pizzaInception {
    display: grid;
    justify-items: center;
    text-align: center;
    align-items: center;
    border: solid rgb(233, 128, 0) 1px;
    font-family: monospace;
    font-size: 16px;
  }
  .pizzaMenu .pizzaInception img {
    height: 25vh;
    width: 75%;
    overflow: hidden;
    text-align: center;
  }
  #pizzaAnimate {
    justify-items: center;
    align-items: center;
    text-align: center;
  }
  #pizzaAnimate > img {
    height: 45vh;
  }
  #pizzaAnimate > img:hover {
    -webkit-animation: pizzaAnimation 2s ease-in-out 7;
            animation: pizzaAnimation 2s ease-in-out 7;
  }
  #pizzaBigContact {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
  }
  #pizzaBigContact #pizzaHOA {
    position: relative;
    text-align: center;
    height: 45vh;
  }
  #pizzaBigContact #pizzaHOA > img {
    height: 35vh;
  }
  #pizzaBigContact #pizzaLabel {
    display: grid;
    height: 40vh;
    justify-content: center;
    text-align: center;
    justify-items: center;
    font-family: monospace;
    font-size: 20px;
  }
  #pizzaBigContact #pizzaLabel #pizzaReserve {
    font-family: monospace;
    font-size: 20px;
  }
  #pizzaBigContact #pizzaLabel #pizzaSubmit {
    background-color: green;
    font-family: monospace;
    font-size: 20px;
  }
  #pizzaBigContact #pizzaContact {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
    text-align: center;
    font-family: monospace;
    font-size: 20px;
  }
  #pizzaBigContact #pizzaContact #pizzaDigits2 {
    position: relative;
  }
  #pizzaBigContact #pizzaContact #pizzaDigits2 .button {
    background-color: rgb(114, 218, 250);
    font-family: monospace;
    font-size: 20px;
  }
  #pizzaMaps {
    position: relative;
  }
  #pizzaMaps iframe {
    width: 100%;
    height: 70vh;
    text-align: center;
  }
  #pizzaFooter {
    display: grid;
    grid-template-columns: 33vw 1fr 1fr;
    grid-template-rows: 15vh 1fr;
    background-color: rgb(2, 97, 240);
    min-height: 7vh;
    font-size: 12px;
    align-items: center;
    justify-items: center;
    position: relative;
    bottom: 0.1vh;
  }
  #pizzaFooter img {
    height: 7vh;
    background-color: rgb(2, 97, 240);
  }
  #pizzaFooter #pizzaAddy {
    font-size: 20px;
    font-family: monospace;
    justify-items: center;
    align-content: center;
    text-align: center;
    background-color: rgb(2, 97, 240);
  }
  #pizzaFooter #pizzaDigits1 {
    position: relative;
  }
  #pizzaFooter #pizzaDigits1 .button {
    background-color: khaki;
    font-family: monospace;
    font-size: 20px;
  }
  #pizzaFooter #pizzaRight {
    font-size: 20px;
    font-family: monospace;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: rgb(2, 97, 240);
  }
}
@media only screen and (min-width: 1000px) {
  #Toplogo {
    width: 100%;
    align-items: center;
    text-align: center;
    background-image: url(/Media/FINITIOBKGROUND.png);
    height: 30vh;
  }
  #pizzaHeader {
    display: grid;
    grid-template-columns: 25vw 1fr;
    background-image: url(/Media/FINITIOBKGROUND.png);
    align-items: center;
    justify-items: center;
    font-size: 14px;
    font-family: monospace;
    height: 30vh;
    overflow: hidden;
  }
  #pizzaHeader #navSettings {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 25vw 25vw 25vw;
    border-radius: 10%;
    text-decoration: none;
    background-image: url(/Media/FINITIOBKGROUND.png);
  }
  #pizzaHeader #navSettings .button {
    background-color: khaki;
    cursor: pointer;
    height: 10vh;
    font-size: 3vh;
    border: solid;
    font-family: monospace;
  }
  #pizzaVideo {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }
  #pizzaVideo iframe {
    width: 100%;
    height: 100%;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  #pizzaArticle #pizzaAbTitle {
    font-style: monospace;
    font-size: 32px;
  }
  #pizzaArticle #pizzaAbout {
    font-family: monospace;
    font-size: 22px;
  }
  #pizzaCyber {
    position: relative;
    text-align: center;
  }
  #pizzaCyber img {
    height: 45vh;
    width: 30%;
  }
  .pizzaH2 {
    font-family: monospace;
    font-size: 26px;
  }
  .pizzaMenu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
    grid-auto-rows: -webkit-min-content;
    grid-auto-rows: min-content;
  }
  .pizzaMenu .pizzaInception {
    display: grid;
    justify-items: center;
    text-align: center;
    align-items: center;
    border: solid rgb(233, 128, 0) 1px;
    font-family: monospace;
    font-size: 18px;
  }
  .pizzaMenu .pizzaInception img {
    height: 25vh;
    width: 55%;
    overflow: hidden;
    text-align: center;
  }
  #pizzaAnimate {
    justify-items: center;
    align-items: center;
    text-align: center;
  }
  #pizzaAnimate > img {
    height: 50vh;
  }
  #pizzaAnimate > img:hover {
    -webkit-animation: pizzaAnimation 2s ease-in-out 7;
            animation: pizzaAnimation 2s ease-in-out 7;
  }
  #pizzaBigContact {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
  }
  #pizzaBigContact #pizzaHOA {
    position: relative;
    text-align: center;
    height: 45vh;
  }
  #pizzaBigContact #pizzaHOA > img {
    height: 40vh;
  }
  #pizzaBigContact #pizzaLabel {
    display: grid;
    height: 40vh;
    justify-content: center;
    text-align: center;
    justify-items: center;
    font-family: monospace;
    font-size: 25px;
  }
  #pizzaBigContact #pizzaLabel #pizzaReserve {
    font-family: monospace;
    font-size: 25px;
  }
  #pizzaBigContact #pizzaLabel #pizzaSubmit {
    background-color: green;
    font-family: monospace;
    font-size: 25px;
  }
  #pizzaBigContact #pizzaContact {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
    text-align: center;
    font-family: monospace;
    font-size: 25px;
  }
  #pizzaBigContact #pizzaContact #pizzaDigits2 {
    position: relative;
  }
  #pizzaBigContact #pizzaContact #pizzaDigits2 .button {
    background-color: rgb(114, 218, 250);
    font-family: monospace;
    font-size: 25px;
  }
  #pizzaMaps {
    position: relative;
  }
  #pizzaMaps iframe {
    width: 100%;
    height: 75vh;
    text-align: center;
    overflow: hidden;
  }
  #pizzaFooter {
    display: grid;
    grid-template-columns: 33vw 1fr 1fr;
    grid-template-rows: 15vh 1fr;
    background-color: rgb(2, 97, 240);
    min-height: 7vh;
    font-size: 12px;
    align-items: center;
    justify-items: center;
    position: relative;
    bottom: 0.1vh;
  }
  #pizzaFooter img {
    height: 7vh;
    background-color: rgb(2, 97, 240);
  }
  #pizzaFooter #pizzaAddy {
    font-size: 25px;
    font-family: monospace;
    justify-items: center;
    align-content: center;
    text-align: center;
    background-color: rgb(2, 97, 240);
  }
  #pizzaFooter #pizzaDigits1 {
    position: relative;
  }
  #pizzaFooter #pizzaDigits1 .button {
    background-color: khaki;
    font-family: monospace;
    font-size: 25px;
  }
  #pizzaFooter #pizzaRight {
    font-size: 25px;
    font-family: monospace;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: rgb(2, 97, 240);
  }
}/*# sourceMappingURL=style.css.map */