* {
  background-color: bisque;
}

@-webkit-keyframes pizzaAnimation {
  0% {
    width: 100px;
  }
  50% {
    width: 200px;
  }
  75% {
    width: 300px;
  }
  100% {
    width: 400px;
  }
}

@keyframes pizzaAnimation {
  0% {
    width: 100px;
  }
  50% {
    width: 200px;
  }
  75% {
    width: 300px;
  }
  100% {
    width: 400px;
  }
}
#Toplogo {
  height: 20vh;
  width: 100%;
  align-items: left;
  justify-items: left;
  justify-content: left;
  text-align: center;
  background-color: rgb(114, 218, 250);
}

#pizzaHeader {
  display: grid;
  grid-template-columns: 40vw 1fr;
  background-color: rgb(114, 218, 250);
  align-items: center;
  font-size: 14px;
  font-family: monospace;
  height: 25vh;
}
#pizzaHeader #navSettings {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 15vh 1fr 1fr;
  grid-template-columns: 15vw 1fr 1fr;
  border-radius: 10%;
  text-decoration: none;
  background-color: rgb(114, 218, 250);
}
#pizzaHeader #navSettings .button {
  background-color: rgb(114, 218, 250);
  cursor: pointer;
  border-style: dashed;
  border-color: black;
}

#pizzaCarousel {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 10px;
  overflow: hidden;
  height: 100vh;
}
#pizzaCarousel img {
  width: 100%;
  display: block;
}
#pizzaCarousel #subpCar {
  overflow-y: scroll;
  overflow-x: hidden;
}
#pizzaCarousel #pizzaGallery {
  overflow: scroll;
}

#pizzaArticle #pizzaAbTitle {
  font-style: monospace;
  font-size: 22px;
}
#pizzaArticle #pizzaAbout {
  font-family: monospace;
  font-size: 15px;
}

#pizzaVideo {
  position: relative;
}
#pizzaVideo iframe {
  width: 100%;
  height: 40vh;
  overflow: hidden;
  text-align: center;
}

#pizzaMaps {
  position: relative;
}
#pizzaMaps iframe {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  text-align: center;
}

#pizzaFooter {
  display: grid;
  grid-template-columns: 33vw 1fr 1fr;
  grid-template-rows: 10vh 1fr;
  background-color: rgb(114, 218, 250);
  min-height: 7vh;
  font-size: 12px;
  align-items: center;
  justify-items: center;
  position: relative;
  bottom: 0.1vh;
}
#pizzaFooter img {
  height: 7vh;
  background-color: rgb(114, 218, 250);
}
#pizzaFooter #pizzaAddy {
  font-size: 14px;
  font-family: monospace;
  justify-items: center;
  align-content: center;
  text-align: center;
  background-color: rgb(114, 218, 250);
}
#pizzaFooter #pizzaRight {
  font-size: 14px;
  font-family: monospace;
  justify-items: center;
  align-items: center;
  text-align: center;
  background-color: rgb(114, 218, 250);
}

#pizzaCyber {
  position: relative;
}
#pizzaCyber img {
  height: 40vh;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.pizzaH2 {
  font-family: monospace;
  font-size: 22px;
}

.pizzaMenu {
  display: grid;
  /*grid-template-columns: 25vw 1fr 1fr 1fr;*/
  grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
}
.pizzaMenu .pizzaInception {
  display: grid;
  justify-items: center;
  text-align: center; /*This is to get those p elements centered*/
  align-items: center;
  border: solid darkmagenta 2px;
  font-family: monospace;
}
.pizzaMenu img {
  height: 15vh;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

section h1 {
  font-family: monospace;
  text-align: center;
}
section h1 img {
  height: 35vh;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

#pizzaAnimate {
  justify-items: center;
  align-items: center;
  text-align: center;
}
#pizzaAnimate > img {
  height: 45vh;
}
#pizzaAnimate > img:hover {
  -webkit-animation: pizzaAnimation 2s ease-in-out 7;
          animation: pizzaAnimation 2s ease-in-out 7;
}

#pizzaContact {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(50vw, 1fr));
  justify-items: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  font-family: monospace;
}/*# sourceMappingURL=style.css.map */